@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  * {
    @apply antialiased;
  }

  body {
    @apply text-surface-100;
  }
}

@layer utilities {
  .mobile-sidebar-enter {
    animation: slideInLeft 0.3s ease-out;
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
